<%= link_to 'Back', root_path %>

<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading center">
        <video width="320" height="240" controls>
          <source src="<%= @v.video.url %>">
        </video>
        
      </div>
      <div class="panel-body">
        <p><%= @v.description %></p>
        <p><strong><%= @v.user.email if @v.user %></strong></p>

        <% if @v.user == current_user %>
          <%= link_to edit_video_path(@v) do %>
            <span class="glyphicon glyphicon-edit"></span>
            Edit
          <% end %>
          <%= link_to @v, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <span class="glyphicon glyphicon-trash"></span>
            Delete
          <% end %>
          <%= link_to raw('<span class="glyphicon glyphicon-plus"></span> New Video'), new_pin_path %>
        <% end %>

      </div>
    </div>
  </div>
</div>